.main-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.page-wrapper {
    min-height: 826px;
    margin-left: 230px;
    padding-top: 60px;
    position: relative;
}

@media only screen and (max-width: 992px) {
    .page-wrapper {
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }
}
